@model AlisVeris.Models.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Mirrored from red-parts.html.themeforest.scompiler.ru/themes/orange-ltr/account-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Aug 2022 20:13:53 GMT -->

<body>
    <!-- site -->
    <div class="site">

    <div class="site__body">
        <div class="block-space block-space--layout--after-header"></div>
        <div class="block"><div class="container container--max--xl">
            <div class="row">
            
                @Html.Partial("Menu")

            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <div class="card"><div class="card-header">
                    <h5>Change Password</h5>
                     </div>
                <div class="card-divider"></div>
                <div class="card-body card-body--padding--2">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-7 col-xl-6">
                            @*<div class="form-group">
                                <label for="password-current">Current Password</label>
                                <input type="password" class="form-control" id="password-current" placeholder="Current Password">
                            </div>*@
                            <form method="post" action="@Url.Action("Change","Dashboard", new {Id = Model.Id })" enctype="multipart/form-data" role="form">

                                <div class="form-group">
                                    <label for="password-new"> Password</label>
                                    <input type="password" class="form-control" name="Sifre" value="@Model.Sifre" id="password-new" placeholder="New Password">
                                </div>
                                @*<div class="form-group">
            <label for="password-confirm">Reenter New Password</label>
            <input type="password" class="form-control" id="password-confirm" placeholder="Reenter New Password">
                </div>*@
            <div class="form-group mb-0">
            <button class="btn btn-primary mt-3">Change</button>
                </div>
                                </form>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
             </div>
            </div>
        <div class="block-space block-space--layout--before-footer"></div>
        </div>

    </div>

</body>
<!-- Mirrored from red-parts.html.themeforest.scompiler.ru/themes/orange-ltr/account-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Aug 2022 20:13:53 GMT -->
</html>

